body{
    background-color:rgb(31,31,31);
    margin:10px;
    padding: 0px;
    border: 0px;

}
p{
    color: rgb(255, 255, 255);
}
.Fundacao{
    color: rgb(248, 241, 239);
    
    text-align: center;
    background-color: #21022d;
    padding: 22px;
    font-size: 30px;
    width: 100%;
    

        

}


.classep{
    text-align: center;
    color: white;
    font-size:30px ;
}
.objetos{
    text-align: left;
    font: size 15px;;
}
.classepp{
    text-align: center;
    font-size: 30px;
    color: white;

}
.seguro{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}
.Euclideo{
    text-align: left;
    font: size ;
    color: 2;
    font: size 30px;;
}


.keter{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}

.thaumiel{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}
    

.neutralizado{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}
    

.h1{
    text-align: center;
}
.Esotéricas{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}
    

.Descomissionado{
    text-align: left;
    font: size ;
    color: red;
    font: size 30px;;
}

.h1{
    color: white;
    text-align: center;
    
}
.scp1{

    color: white;
    text-align: center;
    font: size 15px;;
}
.primeiro{
    color: red;
    text-align:left;
    
}
.scpre{
    color: red;
    
    
}
.p{
    font-size: 15px;
    float:right;
}
.keter{
    color: rgb(255, 0, 0);
    text-align: left;
}


.peste{
    color: red;
}
.textscp{
    text-align: center;
    color: white;
}
.leviata{
    color: red;
}
#keterr{
    color: rgb(255, 0, 0);
    text-align: left;
}
.ff{
    color: red;
    
    
}   

p{
    text-align: justify;
}
.txt{
    margin:0px ;
    top:20px ;
    
}
.bolsa{
color: #21022d;
}
.ui{
    float:left;
    padding-right: 10px;

}
.left{
    float: left;
}
.po{
    float: left;
}
